<h3>Post a message</h3>
<form action="/newMessage" method="post" class="main-form">
  <input type="text" id="name" name="name" placeholder="fullname" required>
  <input type="text" id="createdAt" name="createdAt" placeholder="DD-MM-YYYY" required>
  <textarea id="message" name="message" rows="4" placeholder="message" required></textarea>
  <button type="submit">Post a message</button>
</form>