   <header class="header">
         <div class="nav">
          <span class="material-symbols-outlined nav-icon">
            arrow_left_alt
          </span>
          <span class="material-symbols-outlined nav-icon">
            arrow_right_alt
          </span>
          <span class="material-symbols-outlined nav-icon"> close </span>
          <span class="material-symbols-outlined"> home </span>
          <form>
            <input type="text" class="input" />
            <button class="btn-search" id="btn-search">
              <span class="material-symbols-outlined search"> search </span>
            </button>
          </form>
        </div>
       </header>